.timerSection{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.buttonContainer{
    width: 200px;
}

.startButton{
    width: 200px;
    padding: 15px;
    font-size: 25px;
}

.startButton.hide{
    display: none;
}

.startButton:not(:disabled):hover{
    cursor: pointer;
}
